# Dependencies
*/node_modules
/.git
/.github
/.vscode

# local environment variables
# .env

# local dev files
**/package-lock.json
.prettierrc
.gitignore
docker-compose.yml
Makefile
nodemon.json
README.md

# misc
**/.DS_Store

