name: Deploy Web App to App Engine

on: [push]

jobs:
  deploy-web-app:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      
      - name: Build client
        run: |
          npm run client:install
          npm run client:build

      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Create app.yaml
        run: |
          cat << EOF > ${{ github.workspace }}/app.yaml
          runtime: nodejs16
          env: standard
          instance_class: F1
          handlers:
            - url: /.*
              script: auto
              secure: always
              redirect_http_response_code: '301'
            - url: .*
              script: auto
          env_variables:
            NODE_ENV: "production"
            MONGODB_URL: "${{ secrets.MONGODB_URL }}"
            TMDB_API_KEY: "${{ secrets.TMDB_API_KEY }}"
            FIREBASE_PROJECT_ID: "${{ secrets.FIREBASE_PROJECT_ID }}"
            FIREBASE_PRIVATE_KEY_ID: "${{ secrets.FIREBASE_PRIVATE_KEY_ID }}"
            FIREBASE_PRIVATE_KEY: "${{ secrets.FIREBASE_PRIVATE_KEY }}"
            FIREBASE_CLIENT_EMAIL: "${{ secrets.FIREBASE_CLIENT_EMAIL }}"
            FIREBASE_CLIENT_ID: "${{ secrets.FIREBASE_CLIENT_ID }}"
            FIREBASE_AUTH_URI: "${{ secrets.FIREBASE_AUTH_URI }}"
            FIREBASE_TOKEN_URI: "${{ secrets.FIREBASE_TOKEN_URI }}"
            FIREBASE_PROVIDER_CERT_URL: "${{ secrets.FIREBASE_PROVIDER_CERT_URL }}"
            FIREBASE_CLIENT_CERT_URL: "${{ secrets.FIREBASE_CLIENT_CERT_URL }}"
            FIREBASE_DATABASE_URL: "${{ secrets.FIREBASE_DATABASE_URL }}"
          EOF

      - name: Deploy to App Engine
        id: deploy
        uses: google-github-actions/deploy-appengine@v1
        with:
          deliverables: app.yaml

      - name: Verify deployment
        run: curl "${{ steps.deploy.outputs.url }}" --fail --silent --show-error
